h1{
    background-color: rgb(0, 81, 255);
    text-align: center;
    color: white;
}
pre{
    font-size: 22px;
    color:red;
}
table{
    border: 2px solid;
    border-collapse: collapse;
	color:black;
}
th,td{
    border:1px solid;
    padding: 5rem;
	
}
caption{
    font-weight: bold;
    text-align: center;
    padding: 10px 0 20px 0;
	font-size:25px;
}
thead{
    background: #444;
    color: #fff;
}
tbody:nth-child(even){
    background-color:#f2f2f2;
}
span{
    font-size: 60px;
	color:black;
}
ul{
    color:red;
}
td{
    color: green;
}
div{
    overflow: auto;
    text-align: center;
}
.X{
    color: #444;
}
.y{
	color: black;
	font-size:20px;
}